/* Main-Menu */
.main-menu {
  width: 100vw;
  height: 3.5rem;
  @include bg-color-dark(light);
  @include center-main-menu;
  a {
    text-decoration: none;
  }

  // burger-menu & YT-logo
  .logo {
    width: 10%;
    height: 100%;
    @include center-main-menu;
    margin-left: 1rem;
    @include help-border;

    a {
      display: flex;
      align-items: center;
      i,
      p {
        @include font-color(light);
      }
      i {
        font-size: 1.3rem;
      }
      .fa-youtube {
        @include font-color(yt);
        margin-left: 1.5rem;
      }
      sup {
        font-size: 0.65rem;
        @include font-color(gre);
      }
    }
  }

  // search-bar
  .search-bar {
    width: 50%;
    height: 100%;
    @include center-main-menu;
    justify-content: center;
    @include help-border;
    input {
      width: 60%;
      height: 1.75rem;
      @include bg-color-dark(median);
      @include font-color(median);
      padding-left: 8px;
      border: 1.5px solid rgb(55, 55, 55);
      margin-left: 2rem;
    }
    button {
      width: 4rem;
      height: 2rem;
      @include bg-color-dark(banner);
      border: 1.5px solid rgb(55, 55, 55);
      i {
        @include font-color(gre);
        font-size: 0.9rem;
      }
    }
    .fa-microphone {
      @include font-color(light);
      font-size: 1.4rem;
    }
    a {
      margin-left: 1rem;
    }
  }

  // Top-Menu MENU
  // stop working from here
  .menu {
    @include help-border;
    width: 15rem;
    margin-right: 1rem;
    ul {
      @include center-main-menu;
      list-style: none;
    }
    img {
      width: 1rem;
      height: 1rem;
    }
  }
}
