/* Main-Menu */
.top-menu {
  background-color: rgb(39, 39, 39);
  width: 100vw;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Top-Menu LOGO */
.logo {
  width: 12vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  color: silver;
}
.logo:nth-child(n) :nth-child(2) {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 120%;
}
.logo .fa-youtube {
  color: rgb(224, 0, 0);
}
.fa-bars {
  color: silver;
}
.logo i {
  font-size: 150%;
}
.logo a p {
  color: silver;
  font-weight: bolder;
}
/* Top-Menu SEARCH-BAR */
.search-bar {
  width: 55vw;
  height: 9vh;
  display: flex;
  align-items: center;
}
.search-bar input {
  width: 35vw;
  height: 6vh;
  background-color: rgb(27, 27, 27);
  color: silver;
  padding-left: 8px;
  border: 1.5px solid rgb(58, 58, 58);
  margin-left: 2rem;
}
.search-bar button {
  width: 6vw;
  height: 6vh;
  background-color: rgb(58, 58, 58);
  border: 1.5px solid rgb(58, 58, 58);
  color: silver;
}
.search-bar a {
  text-decoration: none;
}
.search-bar a i {
  margin-left: 1rem;
  display: flex;
  color: silver;
  align-items: center;
  font-size: 150%;
}
/* Top-Menu MENU */
.menu nav ul {
  width: 20vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.menu nav ul li a img {
  width: 3vw;
  height: 6vh;
}
.menu nav ul li a i {
  font-size: 150%;
  color: silver;
}
