// Colors
$bg-colors-dark: (
  banner: rgb(55, 55, 55),
  light: rgb(40, 40, 40),
  median: rgb(30, 30, 30),
  dark: rgb(20, 20, 20),
);

$font-colors: (
  light: rgb(240, 240, 240),
  median: rgb(225, 225, 225),
  gre: #a6a6a6,
  yt: rgb(224, 0, 0),
);
